header {
  height: 100%;
  min-height: 60px;
  margin: 0;
  /* border-bottom: solid 2px rgb(29 78 216) ; */
}

header::after {
  position: absolute;
  height: 1px;
  width: 97%;
  background-color: #DCE0F1;
  left: 1.5%;
  margin-bottom: 1px;
  content: '';
  margin-top: 55px;
  /* box-sizing: border-box; */
}

.SidebarIcon {
  margin-top: 0.6%;
  left: 0;
  float: left;
  margin-left: 1.2%;
}

.SidebarIcon.Hidden {
  display: none;
}

.LogoIcon {
  float: right;
}

.HelpIcon {
  margin-top: 0.7%;
  margin-right: 0.2%;
  float: right;
}

.NotificationButton {
  margin-top: 0.7%;
  margin-right: 0.2%;
  float: right;
}