.ConsultasGrid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-template-rows: 27% 27% 27% 27%;
    min-height: 100%;
    width: 90%;
    margin-top: 2%;
    gap: 2%;
}

.ConsultasWrapper {
    display: block;
    position: relative;
    width: 100%;
}

.ConsultaItemId {
    position: relative;
    float: left;
    left: 10%;
    color: white;
    background-color: rgb(29 78 216);
    font-size: 12.5px;
    top: 3px;
    width: 15%;
    border-radius: 9999px;
}

.ConsultaCorpo {
    position: relative;
    height: 110%;
    text-align: left;
    list-style-type: none;
    top: -10%;
    font-size: 0.85em;
}

.ConsultaItem {
    display: inline-grid;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 7%;
    border-width: 2px;

}

.ConsultaItemHeader {
    position: relative;
    display: inline;
    top: 15%;
    text-align: center;
    height: 20%;
    padding-bottom: 36px;
    margin-bottom: 10px;
}

.ConsultaItemHeader:after {
    margin-top: 35px;
    margin-left: -71%;
    content: '';
    width: 90%;
    background-color: #DCE0F1;
    padding: 0.25px;
    box-sizing: border-box;
    position: absolute;
}

.NavbarConsultas {
    right: 0;
    background-color: #F6F7FA;
    height: 50px;
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    align-items: baseline;
    margin-top: 5px;
}

.NavbarConsultasToolbar {
    justify-content: right;
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 100%;
}

.NavbarConsultasToolbar .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    position: relative;
    right: 20%;
    align-self: flex-end;
    width: 40%;
    text-align: left;
    color: rgb(29 78 216);
    border-radius: 9999px;
    height: 42px;
    /* --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
    /* --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color); */
    /* box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
}

.SearchBar.MuiFormControl-root {
    display: inline-flex !important;
    flex-direction: row !important;
    height: 100%;
}

#FiltroConsultas {
    width: 350px;
}

.NavbarConsultas strong {
    color: rgb(29 78 216);
    font-size: x-large;
    text-align: left;
    align-self: baseline;
}

.NavbarConsultasSearch {
    display: 'inline-flex';
    float: left;
    flex-direction: 'row';
    justify-content: space-between;
    height: 90%;
    width: 30%;
}

.FilterBar {
    position: relative;
    width: 30px;
}

#SearchConsultas {
    position: relative;
}

.SearchBar fieldset {
    border-radius: 9999px;
}

.SearchButton {
    position: relative;
    left: -40px;
    top: 5.575px;
    background-color: rgb(29 78 216)!important;
}

.SearchButton:hover {
    background-color: rgb(59 130 246);
}

.button-center {
    text-align: center;
}

.inputRouded {
    border-radius: 10px;
}


.InsertChartIcon {
    position: relative;
    left: 63%;
}

.SettingsIcon {
    position: relative;
    left: 63%;
}

.QueryFormatul {
    font-size: smaller;
    margin-bottom: 6px;
}

.QueryFormatli {
    position: relative;
    width: 90%;
    left: 7%;
}

.QueryIcon {
    margin-right: 5px;
}

span {
    position: relative;
    right: 25px;
    font-weight: bold;
    color: rgb(29 78 216)
}

.ConsultaModal {
    display: flex;
    background-color: #F6F7FA;
    position: relative;
    left: 30%;
    top: 10%;
    width: 40%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
}

.ConsultaModalWrapper {
    display: block;
    flex-direction: column;
    text-align: left;
    background-color: #F6F7FA;
    border-color: #F6F7FA;
    height: 100%;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.ConsultaModalTitle {
    height: 20%;
    font-size: larger;
    color: #1D4ED8;
}

.ConsultaInput{
    margin-bottom: 2%;
}

.DateConsultaInput {
    margin-bottom: 2%;
}

.ConsultaSQLInput {
    margin-bottom: 2%;
}

.ConsultaFormBody {
    display: flex;
    flex-direction: column;
}

.CodigosFormBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ConsultaModalButton {
    height: 20%;
    width: 70%;
}

#ConsultaButtonCriar {
    height: 50%;
    width: 100%;
    border-radius: 15px;
}

.ConsultaModalTitle {
    height: 20%;
    width: 70%;
}

#ConsultaTitle {
    margin-top: 25px;
    font-weight: bolder;
}


.NotificacaoConsultaModal {
    display: flex;
    background-color: #F6F7FA;
    position: relative;
    left: 30%;
    top: 10%;
    width: 40%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
}

.NotificacaoConsultaModalTitle {
    display: block;
    flex-direction: column;
    background-color: #F6F7FA;
    border-color: #F6F7FA;
    height: 100%;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

#NotificacaoConsultaTitle {
    height: 20%;
    font-size: larger;
    color: #1D4ED8;
}