.TableContainer {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-template-rows: 27% 27% 27% 27%;
    min-height: 100%;
    width: 90%;
    margin-top: 2%;
    gap: 2%;

}

.RelatoriosWrapper {
    display: block;
    position: relative;
    width: 100%;
}

.RelatorioItemId {
    position: relative;
    float: left;
    left: 10%;
    color: white;
    background-color: rgb(29 78 216);
    font-size: 12.5px;
    top: 3px;
    width: 15%;
    border-radius: 9999px;
}

.RelatorioCorpo {
    position: relative;
    height: 100%;
    text-align: left;
    list-style-type: none;
    margin-left: 15%;
    top: -10%;
    font-size: 0.85em;

}

.RelatorioItem {
    display: inline-grid;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 7%;
    border-width: 2px;
}

.RelatorioTable {
    position: relative;
    width: 95%; 
    margin-top: 2%;
    border-radius: 100px;
}

.RelatorioItemHeader {
    position: relative;
    display: inline;
    top: 15%;
    text-align: center;
    height: 20%;
    padding-bottom: 36px;
    margin-bottom: 10px;
}

.RelatorioItemHeader:after {
    margin-top: 35px;
    margin-left: -71%;
    content: "";
    width: 90%;
    background-color: #DCE0F1;
    padding: 0.25px;
    box-sizing: border-box;
    position: absolute;
}

.NavbarRelatorios {
    background-color: #F6F7FA;
    height: 7%;
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    margin-top: 5px;
}

.RelatoriosTitleBox {
    color: rgb(29 78 216);
    font-size:30px;
    font-weight: bold;
    text-align: left;
    width: 43%;
}

.FiltroDataBox {
    position: relative;
    width: 20%;
    text-align: right;
}

.FiltroData {
    width: 75%;
    text-align: left;
    height: 100%;   
}

.SearchBox {
    width: 20%;
    text-align: center;
}

.SearchTextField {
    height: 100%;
    width: 80%;
    margin-left: 10%;
}

.SearchTextField.css-y2vkiz-MuiPaper-root {
    border-radius: 9999px;
    margin-right: 0;
}

.SearchButtonRelatorio {
    left: 1%;
}

.CreateQueryBox fieldset{
    border-radius: 99px;
}

.CreateQueryBox{
    position: relative;
    text-align: left;
    width: 17%;
}

.CreateQueryButton{
    height: 100%;
    color: white;
    font-size: medium;
    font-weight: bold;
    width: 90%;
}

.inputRouded {
    border-radius: 10px;
}

.ChartIcon {
    position: relative;
    left: 130px;
}

.QueryFormatul {
    font-size: smaller;
    margin-bottom: 6px;
}

.QueryFormatli {
    position: relative;
    right: 20px;
}

.QueryIcon {
    margin-right: 5px;
}

span {
    position: relative;
    right: 25px;
    font-weight: bold;
    color: rgb(29 78 216)
}

.RelatorioModal {
    display: flex;
    background-color: #F6F7FA;
    position: relative;
    left: 30%;
    top: 10%;
    width: 40%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
}

.RelatorioModalWrapper {
    display: block;
    flex-direction: column;
    background-color: #F6F7FA;
    border-color: #F6F7FA;
    height: 100%;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.RelatorioModalTitle {
    height: 20%;
    font-size: larger;
    color: #1D4ED8;
}

.RelatorioInput{
    margin-bottom: 2%;
}

.ISOCodeInput {
    margin-bottom: 2%;
}

.RelatorioCodigoXInput {
    margin-bottom: 2%;
}

.RelatorioCodigoYInput {
    margin-bottom: 2%;
}

.RelatorioCodigoZInput {
    margin-bottom:  2%;
}

.RelatorioFormBody {
    display: flex;
    flex-direction: column;
}

.CodigosFormBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RelatorioModalButton {
    height: 20%;
    width: 70%;
}

#RelatorioButtonCriar {
    height: 50%;
    width: 100%;
    border-radius: 15px;
}

.RelatorioModalTitle {
    height: 20%;
    width: 70%;
}

#RelatorioTitle {
    margin-top: 25px;
    font-weight: bolder;
}

.NotificacaoRelatorioModal {
    display: flex;
    background-color: #F6F7FA;
    position: relative;
    left: 30%;
    top: 10%;
    width: 40%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
}

.NotificacaoRelatorioModalTitle {
    display: block;
    flex-direction: column;
    background-color: #F6F7FA;
    border-color: #F6F7FA;
    height: 100%;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
}

#NotificacaoRelatorioTitle {
    height: 20%;
    font-size: larger;
    font-weight: 500;
    color: #1D4ED8;
}