.box {
    position: relative;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 12%;
    margin-left: 35%;
    border-radius: 5%;
}

.ItemsBox{
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7%;
    height: 100%;
}

.LoginImage {
    margin-bottom: 7%;
}

.LoginText {
    margin-bottom: 7%;
}

.PasswordText {
    margin-bottom: 7%;
}

#LoginButton{
    width: 40%;
    border-radius: 10px;
}
